* {	
	
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
	text-decoration: none;
	background-color: black;
}
.Nav {
	position: relative;
	width: 100vw;
	border: 8px;
	border-color: #fff;
	display: grid;
	grid-template-areas: 
	"Home About"
	"load load";
}

.Home {
	display: flex;
	grid-area: Home;
	letter-spacing: 4px;
	font-size: 3vh;
	text-decoration: none;
	font-family: sans-serif;
	color: #f2f2f2;
}
.Project {
	letter-spacing: 4px;
	grid-area: Project;
	text-decoration: none;
	font-family: Trajan ;
	color: #f2f2f2;
	font-size: 3vh;
}
.Next {
	letter-spacing: 4px;
	grid-area: Next;
	text-decoration: none;
	font-family: Trajan ;
	color: #f2f2f2;
	font-size: 3vh;
}
.About {
	display: flex;
	font-size: 3vh;
	letter-spacing: 4px;
	grid-area: About;
	text-decoration: none;
	font-family: sans-serif;
	color: #f2f2f2;


}
.Link{
	position: relative;
	display: grid;
	border:5px;
	border-style: solid;
	border-color: #fff;
}
.loading {
	height: 100vh;
	width: 100vw;
	grid-area: load;
	/*position: relative;*/
	filter: contrast(50);
	align-items: center;
	text-align: center;
	align-items: center;
	background-color: black;
	
}
.load {
	padding: 4vmin;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
	filter: blur(20px);
}

.load:first-child {
	animation: trasladar 2s normal infinite
}
@keyframes trasladar{

	0% {
		transform: rotate(0deg) translate(-150px) rotate(360deg);
	}
	100% {
		transform: rotate(360deg) translate(-150px) rotate(180deg);
	}
}

.Content {
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5vh;
	padding-bottom: 5vh;
	width: 75vw;
	align-content: center;
	border:5px;
	border-style: solid;
	border-color: #fff;
	color: #fff;
	display: grid;
	grid-template-areas:
	"box1 box2";
	justify-items: center;
	justify-content: space-evenly;
}

.box1{
	margin: 0 auto;
	grid-area: box1;
	background-color: #777;
	background: #ef5fa0;
	background: -moz-linear-gradient(left, #ef5fa0 0%, #f93959 50%, #00aa6e 51%, #2dcb8c 100%);
	background: -webkit-linear-gradient(left, #ef5fa0 0%, #f93959 50%, #00aa6e 51%, #2dcb8c 100%);
	background: linear-gradient(left, #ef5fa0 0%, #f93959 50%, #00aa6e 51%, #2dcb8c 100%);
	height: 18vmin;
	width: 18vmin;
}

.box2{
	margin: 0 auto;
	grid-area: box2;
	background-color: #777;
	height: 18vmin;
	width: 18vmin;
}

.text {
	display: inline-block;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	width: 15vmin;
	font-size: 2.5vmin;
	font-weight: 100;
}
